<!DOCTYPE html>
<html>
<head>
  <title>AccountRightMobile</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "themes/myob_mobile", :media => "all" %>
  <%= stylesheet_link_tag "jquery.mobile.structure-1.3.0.min.css", :media => "all" %>
  <%= stylesheet_link_tag "themes/icons.css", :media => "all" %>
  <%= stylesheet_link_tag "themes/devices.css", :media => "all" %>

  <script src="<%= javascript_path "lib/require-2.1.4.min.js" %>" data-main="/assets/application"></script>

  <%= csrf_meta_tags %>

</head>
<body>
</body>
</html>
