<!DOCTYPE html>
<html>
<head>
  <title>AccountRight Contacts</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "themes/myob_mobile", :media => "all" %>
  <%= stylesheet_link_tag "jquery.mobile.structure-1.3.0.min", :media => "all" %>
  <%= stylesheet_link_tag "themes/icons", :media => "all" %>
  <%= stylesheet_link_tag "themes/devices", :media => "all" %>

  <script src="<%= javascript_path "lib/require-2.1.4.min" %>" data-main="/assets/application"></script>

  <%= csrf_meta_tags %>

  <%= javascript_tag <<-JAVASCRIPT
        window.isLoggedInToLive = #{@client_application_state.logged_in_to_live?}
        window.openedCustomerFile = #{@opened_customer_file}
    JAVASCRIPT
  %>

</head>
<body>
</body>
</html>
